<section>
		<div id="GalleryHero" class="app-detail" >
			<a href="/index.html" class="back cta">
				Back to Gallery
			</a>
		</div>
		<div id="LeftCol" >
			<div class="tile embeded">
				<img src="https://www.smartsheet.com/files/haymaker/logo_googleDrive.png" alt="">
			</div>
			<div class="well" ng-model="apps">
			<table>
				<tbody>
					<tr>
						<td class="bold">Built by:</td>
						<td class="green">
							<a href="#">{{item.name}}</a>
						</td>
					</tr>
					<tr>
						<td class="bold">Support:</td>
						<td class="green"><a href="#">Help site</a></td>
					</tr>
					<tr>
						<td class="bold">Docs:</td>
						<td class="green"><a href="#">Documentation</a></td>
					</tr>
					<tr>
						<td class="bold">Demo:</td>
						<td class="green"><a href="#">App Url</a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div id="RightCol">
			<h1>Google Drive</h1>
			<hr>
			<p class="intro">Access your files from Google Drive via a Google Picker directly in Smartsheet gives you instant access to all of your files.</p>

			<img src="https://www.smartsheet.com/files/haymaker/detail-screen-googleDrive.jpg" alt="">

			<section id="About">
				<h3>About</h3>
				<p>Instantly see all of the files in your Drive account without leaving your sheet. Docs, spreadsheets, slides or images, they’re all easy to find and keep connected to the work you’re managing in Smartsheet.</p>
			</section>

			<section id="Features">
				<h3>Features</h3>
				<ul>
					<li>
						<span class="bold">It’s Seamless :</span>
						<span class="copy">Sign in with your Google account info and you’ll instantly be collaborating on tasks, files and discussions.</span>
					</li>
					<li>
						<span class="bold">Sign in with your Work In Context: </span>
						<span class="copy">Get more done with a familiar-looking tool that keeps everything in context. Attach files and Google Docs to any task. Google account info and you’ll instantly be collaborating on tasks, files and discussions.</span>
					</li>
					<li>
						<span class="bold">Connected: </span>
						<span class="copy">Manage project information your way. Import Google Contacts to efficiently collaborate with teams, update Smartsheet project information directly from within Gmail, and sync your project calendar to your Google Calendar.</span>
					</li>
				</ul>

			</section>
			<hr>
			<section id="Get">
				<h3>Get it</h3>
				<ol>
					<li>
						<a href="#">Login to your account and open any sheet</a>
					</li>
					<li>Click on the attachment column</li>
					<li>Click on “Attach From”</li>
					<li>Select “Google Drive”</li>
					<li>Click “Grant Access” to continue.</li>
				</ol>
			</section>

		</div>



	</section>

</section>
