<section ng-model="apps">
		<div id="GalleryHero" class="app-detail" >
			<a href="/index.html" class="back cta">
				Back to Gallery
			</a>
		</div>
		<div id="LeftCol" >
			<div class="tile" ng-class="{'embeded': item.embeded}">
				<img ng-src="img/logos/logo_{{item.shortname}}.png" alt="Logo for {{item.name}}">
			</div>
			<div class="well" >
			<table>
				<tbody>
					<tr>
						<td class="bold">Built by:</td>
						<td class="green">
							<a href="{{item.builderURL}}">{{item.builtby}}</a>
						</td>
					</tr>
					<tr>
						<td class="bold">Support:</td>
						<td class="green">
							<a href="{{item.supportURL}}">Help site</a>
						</td>
					</tr>
					<tr>
						<td class="bold">Docs:</td>
						<td class="green">
							<a href="{{item.docsURL}}">Documentation</a>
						</td>
					</tr>
					<tr>
						<td class="bold">Demo:</td>
						<td class="green">
							<a href="{{item.demoURL}}">App Url</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div id="RightCol">
			<h1>{{item.name}}</h1>
			<hr>
			<p class="intro">{{item.detailblurb}}</p>

			<img src="https://www.smartsheet.com/files/haymaker/detail-screen-googleDrive.jpg" alt="">

			<section id="About">
				<h3>About</h3>
				<p>{{item.about}}</p>
			</section>

			<section id="Features">
				<h3>Features</h3>
				<ul>
					<li>
						<span class="bold">{{item.feature1bold}}</span>
						<span class="copy">{{item.feature1}}</span>
					</li>
					<li>
						<span class="bold">{{item.feature2bold}}</span>
						<span class="copy">{{item.feature2}}</span>
					</li>
					<li>
						<span class="bold">{{item.feature3bold}}</span>
						<span class="copy">{{item.feature3}}</span>
					</li>
				</ul>

			</section>
			<hr>
			<section id="Get">
				<h3>Get it</h3>
				<ol>
					<li>
						<a href="#">{{item.getitstep1}}</a>
					</li>
					<li>{{item.getitstep2}}</li>
					<li>{{item.getitstep3}}</li>
					<li>{{item.getitstep4}}</li>
					<li>{{item.getitstep5}}</li>
				</ol>
			</section>

		</div>



	</section>

</section>
