@font-face {
  font-family: 'proxima_nova_light';
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_light-webfont_0.eot");
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_light-webfont_0.eot?#iefix") format("embedded-opentype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_light-webfont_0.woff") format("woff"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_light-webfont_0.ttf") format("truetype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_light-webfont_0.svg#proxima_novalight") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_reg';
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_reg-webfont_0.eot");
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_reg-webfont_0.eot?#iefix") format("embedded-opentype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_reg-webfont_0.woff") format("woff"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_reg-webfont_0.ttf") format("truetype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_reg-webfont_0.svg#proxima_nova_rgregular") format("svg");
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_sbold';
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_sbold-webfont_0.eot");
  src: url("https://www.smartsheet.com/files/haymaker/proxima_nova_sbold-webfont_0.eot?#iefix") format("embedded-opentype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_sbold-webfont.woff") format("woff"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_sbold-webfont.ttf") format("truetype"), url("https://www.smartsheet.com/files/haymaker/proxima_nova_sbold-webfont_0.svg#proxima_novasemibold") format("svg");
  font-style: normal;
}

/* line 16, ../sass/main.scss */
.ng-enter,
.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}

/* line 27, ../sass/main.scss */
.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

/* line 34, ../sass/main.scss */
.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

/* line 77, ../sass/main.scss */
.underline {
  text-decoration: underline;
}

/* line 81, ../sass/main.scss */
#AppGalleryContainer {
  height: 1210px;
  background: #fff;
}

/* line 91, ../sass/main.scss */
#GalleryHero {
  height: 290px;
  width: 100%;
  margin-bottom: 34px;
  position: relative;
  background: url(/img/AppGallery_Hero.jpg) no-repeat 0 0;
}
/* line 97, ../sass/main.scss */
#GalleryHero h1, #GalleryHero p {
  color: #FFF;
  padding-left: 50px;
  padding-top: 74px;
  margin: 0;
  display: block;
  font: normal 53px/1 "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 105, ../sass/main.scss */
#GalleryHero p {
  line-height: 30px;
  padding-top: 0;
  width: 490px;
  font: normal 21px/1 "proxima_nova_light", Helvetica, Arial, sans-serif !important;
}

/* line 113, ../sass/main.scss */
.btn {
  position: absolute;
  display: block;
}
/* line 116, ../sass/main.scss */
.btn.icon {
  top: 250px;
  right: 46px;
  height: 68px;
  width: 304px;
  color: #fff;
  background: transparent url("/img/btn-icon-bg.png") -2px -3px no-repeat;
  text-align: left;
}
/* line 124, ../sass/main.scss */
.btn.icon:hover {
  background-position: -2px -96px;
}
/* line 127, ../sass/main.scss */
.btn.icon a {
  text-decoration: none;
  display: block;
  margin-left: 60px;
  margin-top: 5px;
  color: white !important;
}
/* line 133, ../sass/main.scss */
.btn.icon a span {
  display: block;
}
/* line 135, ../sass/main.scss */
.btn.icon a span.emphasis {
  margin-bottom: 3px;
  font-size: 21px;
}
/* line 139, ../sass/main.scss */
.btn.icon a span.underline {
  text-decoration: underline;
  display: inline-block;
}
/* line 144, ../sass/main.scss */
.btn.icon a:hover {
  color: #fff;
}

/* line 150, ../sass/main.scss */
.appList {
  width: 901px;
  height: 100%;
  margin: 0 auto;
}
/* line 154, ../sass/main.scss */
.appList .title {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 159, ../sass/main.scss */
.appList.featured {
  background: #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 225px;
  padding: 0 14px;
  position: relative;
  padding-top: 12px;
  margin-top: 57px;
  margin-bottom: 35px;
}
/* line 168, ../sass/main.scss */
.appList.featured .title {
  background: #dddddd;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 12px 0 0 15px;
  margin: 0;
  top: -37px;
  left: 0px;
  height: 38px;
  width: 201px;
}

/* line 181, ../sass/main.scss */
.app {
  width: 167px;
  height: 166px;
  background: transparent url(/img/app-bg.png) 0px 0px no-repeat;
  padding: 18px 22px 41px 22px;
  color: #FFF;
  float: left;
  position: relative;
  text-decoration: none;
  display: block;
  margin-right: 19px;
  margin-bottom: 7px;
  font: normal 14px/1.5 "proxima_nova_reg", Helvetica, Arial, sans-serif !important;
}
/* line 194, ../sass/main.scss */
.app.embeded:after {
  content: " ";
  background-image: url(/img/icon_embeded.png);
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
  display: block;
  position: absolute;
  top: 1px;
  right: -1px;
}
/* line 206, ../sass/main.scss */
.app.last, .app:nth-of-type(4n+4) {
  margin-right: 0;
}
/* line 209, ../sass/main.scss */
.app img {
  max-height: 53px;
  margin: 0 auto;
  display: block;
}
/* line 214, ../sass/main.scss */
.app h3 {
  margin-top: 27px;
  margin-bottom: 2px;
  color: #fff;
  font: normal 14px/1.5 "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 220, ../sass/main.scss */
.app p {
  margin-top: 0px;
  line-height: 17px;
  margin-bottom: 7px;
  color: #fff;
  font: normal 13px/1 "proxima_nova_light", Helvetica, Arial, sans-serif !important;
}
/* line 228, ../sass/main.scss */
.app:active, .app:hover {
  background-position: 0px -225px;
  color: #fff;
  text-decoration: none;
}
/* line 233, ../sass/main.scss */
.app.dev {
  background: transparent url(/img/app-cta.png) 0 0 no-repeat;
}

/* line 4, ../sass/_overrides.scss */
.node-type-page .content a,
.node-type-page .content a:visited {
  color: #fff;
}

/* line 10, ../sass/_overrides.scss */
#center .content {
  background-color: #fff;
}

/* line 31, ../sass/_detail.scss */
#GalleryHero.app-detail {
  height: 40px;
  width: 100%;
  margin-bottom: 26px;
  position: relative;
  background: url(/img/AppGallery_Hero.jpg) no-repeat 0 0;
}

/* line 38, ../sass/_detail.scss */
a {
  text-decoration: none;
  color: #6cac3f !important;
  font-family: "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 42, ../sass/_detail.scss */
a:hover {
  text-decoration: underline;
}

/* line 49, ../sass/_detail.scss */
a.back.cta {
  color: white !important;
  text-decoration: none;
  margin: 13px 0 0 53px;
  padding-left: 15px;
  background: url(/img/icon-back-carat.png) no-repeat 0px 0px;
  float: left;
}

/* line 58, ../sass/_detail.scss */
#LeftCol {
  width: 22%;
  margin-left: 5%;
  float: left;
}

/* line 63, ../sass/_detail.scss */
.tile {
  height: 94px;
  width: 210px;
  background: #3C3E41;
  position: relative;
  margin: 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 70, ../sass/_detail.scss */
.tile.embeded:after {
  content: " ";
  background-image: url(/img/icon_embeded.png);
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
}
/* line 81, ../sass/_detail.scss */
.tile img {
  max-height: 53px;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
}

/* line 88, ../sass/_detail.scss */
.well {
  width: 181px;
  padding: 23px 0 23px 28px;
  background-color: #EEEEEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 95, ../sass/_detail.scss */
.well table {
  width: 100%;
  font-size: 13px;
}
/* line 102, ../sass/_detail.scss */
.well table tbody tr td {
  height: auto;
  vertical-align: top;
  padding-bottom: 5px;
}
/* line 106, ../sass/_detail.scss */
.well table tbody tr td.bold {
  text-align: right;
  width: 56px;
  padding-right: 5px;
}
/* line 111, ../sass/_detail.scss */
.well table tbody tr td.green {
  color: #7FB92A;
  margin-left: 5px;
}

/* line 120, ../sass/_detail.scss */
#RightCol {
  width: 64%;
  margin-left: 4%;
  display: inline-block;
}
/* line 124, ../sass/_detail.scss */
#RightCol h1, #RightCol #GalleryHero p, #GalleryHero #RightCol p {
  margin: 45px 0 0 0;
  font: normal 37px/1.5 "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 128, ../sass/_detail.scss */
#RightCol hr {
  color: #EEEEEE;
  margin: 17px 0;
}
/* line 132, ../sass/_detail.scss */
#RightCol section {
  margin-bottom: 36px;
}
/* line 134, ../sass/_detail.scss */
#RightCol section h3 {
  margin-bottom: 10px;
  font: normal 25px/1 "proxima_nova_light", Helvetica, Arial, sans-serif !important;
  width: 567px;
}
/* line 139, ../sass/_detail.scss */
#RightCol section p {
  margin: 0;
  font: normal 14px/1.5 "proxima_nova_reg", Helvetica, Arial, sans-serif !important;
  width: 567px;
}
/* line 144, ../sass/_detail.scss */
#RightCol section ul, #RightCol section ol {
  padding-left: 16px;
  margin: 0;
}
/* line 147, ../sass/_detail.scss */
#RightCol section ul li, #RightCol section ol li {
  list-style-type: square !important;
  width: 567px;
  margin-bottom: 9px;
  font: normal 14px/1.5 "proxima_nova_reg", Helvetica, Arial, sans-serif !important;
}
/* line 152, ../sass/_detail.scss */
#RightCol section ul li .bold, #RightCol section ol li .bold {
  color: #000;
  font: normal 14px/1.5 "proxima_nova_sbold", Helvetica, Arial, sans-serif !important;
}
/* line 156, ../sass/_detail.scss */
#RightCol section ul li .copy, #RightCol section ol li .copy {
  color: #5A5F66;
  font: normal 14px/1.5 "proxima_nova_reg", Helvetica, Arial, sans-serif !important;
}
/* line 164, ../sass/_detail.scss */
#RightCol section ol li {
  list-style-type: inherit !important;
  padding-left: 5px;
  font: normal 14px/1.5 "proxima_nova_reg", Helvetica, Arial, sans-serif !important;
}
/* line 171, ../sass/_detail.scss */
#RightCol img {
  margin-bottom: 20px;
}
/* line 174, ../sass/_detail.scss */
#RightCol .intro {
  margin: 0 0 23px 0;
  font: normal 20px/1.5 "proxima_nova_light", Helvetica, Arial, sans-serif !important;
}
